.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.sidebar .title {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 2em;
  font-family: "Poppins", sans-serif;
}

.red-dev {
  color: #f7542e;
}

.sidebar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fafbfd;
  color: black;
}

.sidebar-items {
  display: none;
  background-color: #fafbfd;
  margin-left: auto;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.sidebar-items.expanded {
  display: block;
}

.sidebar-item {
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: #9e9e9e;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5em 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.sidebar-item:hover {
  transform: scale(1.1);
}

.selected {
  color: #090f31;
  font-weight: 700;
  cursor: pointer;
}

/* Button Component */

.button-subtitle {
  font-family: "Ubuntu Mono", sans-serif;
  color: #828282;
}

.button-subtitle .main-- {
  color: #333;
}

@media (min-width: 768px) {
  .App {
    display: flex;
  }
  .material-icons {
    display: none;
  }

  .sidebar {
    width: 15em;
    height: 100vh;
    background-color: #fafbfd;
    transition: transform 0.3s ease-out;
    padding: 2.5em 0 0 2em;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar .title {
    margin: 0;
    margin-bottom: 4em;
  }

  .sidebar-item {
    border: none;
  }

  .sidebar-items {
    margin-left: 0;
    display: block;
    background-color: #fafbfd;
    text-align: left;
    position: relative;
  }

  /* Button Component */

  .main {
    width: 1000px;
    margin: 1em auto;
  }

  .main .title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #4f4f4f;
  }

  .button-row {
    display: flex;
  }

  button {
    padding: 0.8em 1em;
    border-radius: 6px;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    border: none;
  }

  .btns-container {
    width: 30em;
    background-color: pink;
  }
}
