.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.sidebar .title {
  font-weight: 700;
  font-size: 1rem;
  margin-left: 2em;
  font-family: "Poppins", sans-serif;
}

.red-dev {
  color: #f7542e;
}

.sidebar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fafbfd;
  color: black;
}

.sidebar-items {
  display: none;
  background-color: #fafbfd;
  margin-left: auto;
  position: absolute;
  top: 60px;
  left: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.sidebar-items.expanded {
  display: block;
}

.sidebar-item {
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  color: #9e9e9e;
  cursor: pointer;
  transition: 0.2s;
  padding: 1.5em 0;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.sidebar-item:hover {
  transform: scale(1.1);
}

.selected {
  color: #090f31;
  font-weight: 700;
  cursor: pointer;
}

/* Button Component */

.button-subtitle {
  font-family: "Ubuntu Mono", sans-serif;
  color: #828282;
}

.main {
  /* width: 1000px; */
  margin: 1em 2em;
}

.main .title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #4f4f4f;
}

.button-row {
  display: flex;
}

.button-row .button-title {
  color: #333;
}

button {
  margin-top: 1em;
  padding: 0.8em 1.3em;
  border-radius: 6px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btns-container {
  width: 50vw;
  margin-bottom: 2em;
}

/* BUTTON NORMAL */

button.normal {
  background-color: #e0e0e0;
  color: #3f3f3f;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

button.normal:hover,
button.normal:focus {
  background-color: #aeaeae;
}

/* BUTTON OUTLINE */

button.outline {
  background-color: transparent;
  border: 1px solid #3d5afe;
  color: #3d5afe;
}

button.outline:hover,
button.outline:focus {
  background-color: #2962ff1a;
}

/* BUTTON TEXT */

button.text {
  background-color: transparent;
  color: #3d5afe;
}

button.text:hover,
button.text:focus {
  background-color: #2962ff1a;
}

/* BUTTON DISABLESHADOW */

button.disableShadow {
  background-color: #3d5afe;
  color: #fff;
  box-shadow: 0px 5px 5px rgba(51, 51, 51, 0.2);
  transition: 0.3s;
}

button.disableShadow:hover,
button.disableShadow:focus {
  box-shadow: none;
}

/* BUTTON DISABLE */

button.disable {
  background-color: #e0e0e0;
  color: #9e9e9e;
}

button.not-disable {
  background-color: #e0e0e0;
  color: #3f3f3f;
}

button.text-not-disable {
  background-color: #2962ff1a;
  color: #3d5afe;
}

/* BUTTON WITH ICON */

button.button-with-icon {
  background-color: #2962ff;
  color: #fff;
}

button i {
  margin: 0 0.5em;
}

.btns-container .btn-icons:hover,
.btns-container .btn-icons:focus {
  background-color: #0039cb;
}

/* BUTTON SIZES */

.btns-container .btn-sizes,
.btns-container .btn-icons {
  transition: 0.3s;
}

button.button-small {
  font-size: 14px;
  padding: 8px 16px;
}

button.button-medium {
  font-size: 16px;
  padding: 12px 24px;
}

button.button-large {
  font-size: 20px;
  padding: 16px 32px;
}

.btns-container .btn-sizes:hover,
.btns-container .btn-sizes:focus {
  background-color: #e0e0e0;
}

@media (min-width: 768px) {
  .App {
    display: flex;
  }
  .material-icons {
    display: none;
  }

  .sidebar {
    width: 15em;
    height: 100vh;
    background-color: #fafbfd;
    transition: transform 0.3s ease-out;
    padding: 2.5em 0 0 2em;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar .title {
    margin: 0;
    margin-bottom: 4em;
  }

  .sidebar-item {
    border: none;
  }

  .sidebar-items {
    margin-left: 0;
    display: block;
    background-color: #fafbfd;
    text-align: left;
    position: relative;
  }

  /* Button Component */

  .main {
    width: 1000px;
    margin: 1em 3em;
  }

  .btns-container {
    width: 30em;
    margin-bottom: 2em;
  }
}
