.title {
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.red-dev {
  color: #f7542e;
}

.sidebar {
  width: 15em;
  height: 100vh;
  background-color: lightblue;
  transition: transform 0.3s ease-out;
  padding: 2.5em 0 0;
}

.sidebar-items {
  margin-top: 10em;
}

.sidebar-item {
  color: #9e9e9e;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin: 2em 0;
}

.sidebar-item:hover {
  transform: scale(1.1);
}

.selected {
  color: #090f31;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 768px) {
}
